*{
    font-family: 'Poppins', sans-serif;
}
.bg-color{
    background-color: rgb(241, 241, 241);
}
.p-tag{
    text-align: center;
    padding: 0 20vw;
}
.institute{
    background-color: #F4FAFD;
}
.join p{
    margin: 0 10vw 0 0;
}
.icon li{
    list-style: none;
    display: inline-block;

}