*{
    font-family: 'Poppins', sans-serif;
}
.bg-color{
    background-color: rgb(241, 241, 241);
}
.p-tag{
    text-align: center;
    padding: 0 20vw;
}
.institute{
    background-color: #F4FAFD;
}
.join p{
    margin: 0 10vw 0 0;
}
.icon li{
    list-style: none;
    display: inline-block;
}
.backg-color{
    background-color: rgb(254, 247, 255);
}
.text-colr{
    color: goldenrod;
}
.bg-slider-1{
    background-color: rgb(254, 255, 247);
}
.bg-slider-2{
    background-color: rgb(249, 247, 255);
}
.bg-slider-3{
    background-color: rgb(248, 255, 247);
}
.fs-cart{
    font-size: 12px;
}
.bg-card-1{
    background-color: rgb(254, 255, 247);
}
.bg-card-2{
    background-color: rgb(249, 247, 255);
}
.bg-card-3{
    background-color: rgb(248, 255, 247);
}